# 1. Content-based recommendation

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('movies.csv')
df.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [3]:
# Adding year column
df[['name', 'year']] = df.title.str.split('\(|\)', expand=True).iloc[:, [0,1]]
df.head(3)

,movieId,title,genres,name,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men,1995

In [4]:
df.drop('title', axis=1, inplace=True)
df.head(3)

,movieId,genres,name,year
0,1,Adventure|Animation|Children|Comedy|Fantasy,Toy Story,1995
1,2,Adventure|Children|Fantasy,Jumanji,1995
2,3,Comedy|Romance,Grumpier Old Men,1995

In [5]:
df['name'] = df['name'].str.strip()

In [6]:
movie_genre_df = df[['genres', 'name']]
movie_genre_df

,genres,name
0,Adventure|Animation|Children|Comedy|Fantasy,Toy Story
1,Adventure|Children|Fantasy,Jumanji
2,Comedy|Romance,Grumpier Old Men
3,Comedy|Drama|Romance,Waiting to Exhale
4,Comedy,Father of the Bride Part II
...,...,...
9737,Action|Animation|Comedy|Fantasy,Black Butler: Book of the Atlantic
9738,Animation|Comedy|Fantasy,No Game No Life: Zero
9739,Drama,Flint
9740,Action|Animation,Bungo Stray Dogs: Dead Apple
9741,Comedy,Andrew Dice Clay: Dice Rules

In [7]:
movie_genre_df = movie_genre_df.apply(lambda x: x.str.split('|').explode()).reset_index()
movie_genre_df

       index     genres                          name
0          0  Adventure                     Toy Story
1          0  Animation                     Toy Story
2          0   Children                     Toy Story
3          0     Comedy                     Toy Story
4          0    Fantasy                     Toy Story
...      ...        ...                           ...
22079   9738    Fantasy         No Game No Life: Zero
22080   9739      Drama                         Flint
22081   9740     Action  Bungo Stray Dogs: Dead Apple
22082   9740  Animation  Bungo Stray Dogs: Dead Apple
22083   9741     Comedy  Andrew Dice Clay: Dice Rules

[22084 rows x 3 columns]

In [8]:
movie_genre_df.drop('index', inplace=True, axis=1)

In [9]:
movie_genre_df

          genres                          name
0      Adventure                     Toy Story
1      Animation                     Toy Story
2       Children                     Toy Story
3         Comedy                     Toy Story
4        Fantasy                     Toy Story
...          ...                           ...
22079    Fantasy         No Game No Life: Zero
22080      Drama                         Flint
22081     Action  Bungo Stray Dogs: Dead Apple
22082  Animation  Bungo Stray Dogs: Dead Apple
22083     Comedy  Andrew Dice Clay: Dice Rules

[22084 rows x 2 columns]

In [10]:
movie_genre_df['genres'].unique()

array(['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Mystery', 'Sci-Fi', 'War', 'Musical', 'Documentary', 'IMAX',
       'Western', 'Film-Noir', '(no genres listed)'], dtype=object)

In [11]:
# Saving data frame into csv
movie_genre_df.to_csv('movie_genre_df.csv')

##  ✏️ Exercises

> ## 1. Creating content-based data

As much as you might want to jump right to finding similar items and making recommendations, you first need to get your data in a usable format. In the next few exercises, you will explore your base data and work through how to format that data to be used for content-based recommendations.

As a reminder, the desired outcome is a row per movie with each column indicating whether a genre applies to the movie. You will be looking at `movie_genre_df`, which contains these columns:

- `name` - Name of movie
- `genre_list` - Genre that the movie has been labeled as

A movie may have multiple genres, and therefore multiple rows. In this exercise, you will particularly focus on one movie (Toy Story in this case) to be able to clearly see what is happening with the data.

### How many different movies are contained in `movie_genre_df`?

In [12]:
movie_genre_df = pd.read_csv('movie_genre_df.csv', index_col=False)

In [13]:
len(movie_genre_df['name'].unique())

9412

### Get the rows in `movie_genre_df` which have a name equal to Toy Story and save this as `toy_story_genres`.

In [14]:
toy_story_genres = movie_genre_df[movie_genre_df['name'] == "Toy Story"]
toy_story_genres.head()

   Unnamed: 0     genres       name
0           0  Adventure  Toy Story
1           1  Animation  Toy Story
2           2   Children  Toy Story
3           3     Comedy  Toy Story
4           4    Fantasy  Toy Story

### Transform movie_genre_df to a table called movie_cross_table.

Assign the subset of `movie_cross_table` that contains Toy Story to the variable `toy_story_genres_ct` and inspect the results

In [15]:
# Select only the rows with values in the name column equal to Toy Story
toy_story_genres = movie_genre_df[movie_genre_df['name'] == 'Toy Story']

# Create cross-tabulated DataFrame from name and genre_list columns
movie_cross_table = pd.crosstab(movie_genre_df['name'], movie_genre_df['genres'])

# Select only the rows with Toy Story as the index
toy_story_genres_ct = movie_cross_table[movie_cross_table.index == 'Toy Story']
print(toy_story_genres_ct)

genres     (no genres listed)  Action  Adventure  Animation  Children  Comedy  \
name
Toy Story                   0       0          1          1         1       1

genres     Crime  Documentary  Drama  Fantasy  Film-Noir  Horror  IMAX  \
name
Toy Story      0            0      0        1          0       0     0

genres     Musical  Mystery  Romance  Sci-Fi  Thriller  War  Western
name
Toy Story        0        0        0       0         0    0        0

### Understanding the content-based data

You are now able to convert common attribute data to a DataFrame containing a row per movie, and each of its attributes as columns. You will now take a closer look at the full DataFrame you just created to see if you understand the information within.

A subset of the DataFrame you have created in the last exercise has been loaded as movie_cross_table. As a reminder, the genres are stored as individual columns and the movie names are stored as the index.

Inspect the rows corresponding to 'Toy Story' and 'Yogi Bear' in movie_cross_table. How many genres do they have in common?


Possible Answers

- 0 genres in common

- 2 genres in common ✅ (*Children and comedy*)

- 4 genres in common

- 6 genres in common

In [16]:
movie_cross_table

genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
name,,,,,,,,,,,,,,,,,,,,
'71,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0
'Hellboy': The Seeds of Creation,0,1,1,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0
'Round Midnight,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0
'Salem's Lot,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0
'Til There Was You,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
eXistenZ,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
xXx,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
xXx: State of the Union,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
¡Three Amigos!,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
À nous la liberté,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [17]:
selected_movies = ["Toy Story", "Yogi Bear"]
movie_cross_table[movie_cross_table.index.isin(selected_movies)]

genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
name,,,,,,,,,,,,,,,,,,,,
Toy Story,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
Yogi Bear,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

> Correct! Yogi Bear and Toy Story both have the 'Children' and 'Comedy' attributes. The more genres that two movies have in common, the more likely it is that someone who liked one will like the other, so now we're going to apply this at a larger scale instead of just one pair of movies.

# Making content-based recommendations

- We need a way to calculate similarities between rows.
- We are going to use the **Jaccard similarity**

$$
J(A, B) = \frac{A \cap B}{A \cup B}
$$

it varies from zero to one. The bigger the jaccard similarity the similar are the items.

In [18]:
# Data 
movie_genre_df.head()

   Unnamed: 0     genres       name
0           0  Adventure  Toy Story
1           1  Animation  Toy Story
2           2   Children  Toy Story
3           3     Comedy  Toy Story
4           4    Fantasy  Toy Story

In [19]:
# Calculating Jaccard similarity between movies 
from sklearn.metrics import jaccard_score

toy_row = movie_cross_table.loc['Toy Story']
yogi_row = movie_cross_table.loc['Yogi Bear']

In [20]:
print(jaccard_score(toy_row, yogi_row))

0.4

## ✏️Exercises

> # 1. Comparing individual movies with Jaccard similarity

In the last lesson, you built a DataFrame of movies, where each column represents a different genre. You can now use this DataFrame to compare movies by measuring the Jaccard similarity between rows. The higher the Jaccard similarity score, the more similar the two items are.

In this exercise, you will compare the movie GoldenEye with the movie Toy Story, and GoldenEye with SkyFall and compare the results.

The DataFrame movie_cross_table containing all the movies as rows and the genres as Boolean columns that you created in the last lesson has been loaded.

1. Import the Jaccard similarity score function from `sklearn.metrics`.
2. Convert the rows containing 'GoldenEye' and 'Toy Story' to numpy arrays and measure their similarity.
3. Convert the row containing Skyfall to a numpy array and measure its similarity to GoldenEye.

In [21]:
# Data
movie_cross_table.head()

genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
name,,,,,,,,,,,,,,,,,,,,
'71,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0
'Hellboy': The Seeds of Creation,0,1,1,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0
'Round Midnight,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0
'Salem's Lot,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0
'Til There Was You,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0

In [22]:
# Import numpy and the Jaccard similarity function
import numpy as np
from sklearn.metrics import jaccard_score

In [23]:
# Extract just the rows containing GoldenEye and Toy Story
goldeneye_values = movie_cross_table.loc['GoldenEye'].values
toy_story_values = movie_cross_table.loc['Toy Story'].values

# Find the similarity between GoldenEye and Toy Story
print(jaccard_score(goldeneye_values, toy_story_values))

0.14285714285714285

In [24]:
# Repeat for GoldenEye and Skyfall
skyfall_values = movie_cross_table.loc['Skyfall'].values
print(jaccard_score(goldeneye_values, skyfall_values))

0.75

> *As you can see, based on Jaccard similarity, GoldenEye and Skyfall (both James Bond movies) are more similar than GoldenEye and Toy Story (a spy movie and an animated kids movie).*

> # 2.Comparing all your movies at once

While finding the Jaccard similarity between any two individual movies in your dataset is great for small-scale analyses, it can prove slow on larger datasets to make recommendations.

In this exercise, you will find the similarities between all movies and store them in a DataFrame for quick and easy lookup.

When finding the similarities between the rows in a DataFrame, you could run through all pairs and calculate them individually, but it's more efficient to use the `pdist()` (pairwise distance) function from `scipy`.

This can be reshaped into the desired rectangular shape using `squareform()` from the same library. Since you want similarity values as opposed to distances, you should subtract the values from 1.

1. Find the Jaccard distance measures between all movies and assign the results to `jaccard_similarity_array`.
2. Create a DataFrame from the `jaccard_similarity_array` with `movie_genre_df.index` as its rows and columns.
3. Print the top 5 rows of the DataFrame and examine the similarity scores.

In [25]:
# Import functions from scipy
from scipy.spatial.distance import pdist, squareform

# Calculate all pairwise distances
jaccard_distances = pdist(movie_cross_table.values, metric='jaccard')

# Convert the distances to a square matrix
jaccard_similarity_array = 1 - squareform(jaccard_distances)

# Wrap the array in a pandas DataFrame
jaccard_similarity_df = pd.DataFrame(jaccard_similarity_array, index=movie_cross_table.index, columns=movie_cross_table.index)

In [26]:
# Print the top 5 rows of the DataFrame
jaccard_similarity_df.head()

name,'71,'Hellboy': The Seeds of Creation,'Round Midnight,'Salem's Lot,'Til There Was You,'Tis the Season for Love,"'burbs, The",'night Mother,*batteries not included,...All the Marbles,...,Zulu,[REC],[REC]²,[REC]³ 3 Génesis,anohana: The Flower We Saw That Day - The Movie,eXistenZ,xXx,xXx: State of the Union,¡Three Amigos!,À nous la liberté
name,,,,,,,,,,,,,,,,,,,,,
'71,1.000000,0.125,0.200000,0.333333,0.200000,0.0,0.0,0.25,0.000000,0.200000,...,0.600000,0.40,0.2,0.2,0.200000,0.400000,0.400000,0.400000,0.000000,0.000000
'Hellboy': The Seeds of Creation,0.125000,1.000,0.000000,0.000000,0.000000,0.0,0.2,0.00,0.285714,0.166667,...,0.111111,0.00,0.0,0.0,0.000000,0.142857,0.142857,0.142857,0.166667,0.166667
'Round Midnight,0.200000,0.000,1.000000,0.200000,0.333333,0.0,0.0,0.50,0.000000,0.333333,...,0.000000,0.25,0.0,0.0,0.333333,0.000000,0.000000,0.000000,0.000000,0.333333
'Salem's Lot,0.333333,0.000,0.200000,1.000000,0.200000,0.0,0.0,0.25,0.000000,0.200000,...,0.142857,0.75,0.5,0.5,0.200000,0.166667,0.166667,0.166667,0.000000,0.000000
'Til There Was You,0.200000,0.000,0.333333,0.200000,1.000000,0.5,0.0,0.50,0.000000,0.333333,...,0.000000,0.25,0.0,0.0,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000

> # 3. Making recommendations based on movie genres

Now that you have your data in a usable format and know how to compare two movies, the next step is to use this to generate recommendations. In this exercise, you will learn how to generate recommendations for any movie in your dataset. The similarity scores between all movies in the dataset that you calculated in the last exercise have been pre-loaded for you as `jaccard_similarity_array`. `movie_cross_table` containing the movies and their attributes is also available.

For ease of use, you will need to wrap the similarity scores in a DataFrame. Then you will use this new DataFrame to suggest a movie recommendation.


- Generate a DataFrame called jaccard_similarity_df from jaccard_similarity_array.
- Store the similarity values between Thor and all other movies as a Series.
- Sort these from largest to smallest in ordered_similarities.

In [27]:
# Wrap the preloaded array in a DataFrame
jaccard_similarity_df = pd.DataFrame(jaccard_similarity_array, index=movie_cross_table.index, columns=movie_cross_table.index)

# Find the values for the movie Thor
jaccard_similarity_series = jaccard_similarity_df.loc['Thor']

# Sort these values from highest to lowest
ordered_similarities = jaccard_similarity_series.sort_values(ascending=False)

# Print the results
print(ordered_similarities)

name
Thor                                            1.000000
Harry Potter and the Deathly Hallows: Part 2    0.833333
In the Name of the King III                     0.800000
Thor: The Dark World                            0.800000
Seeker: The Dark Is Rising, The                 0.800000
                                                  ...
Runaway Bride                                   0.000000
Heidi Fleiss: Hollywood Madam                   0.000000
Hedgehog in the Fog                             0.000000
Heavyweights                                    0.000000
À nous la liberté                               0.000000
Name: Thor, Length: 9411, dtype: float64

# 4. Text-based similarities

## 4.1. Term frequency inverse document frequency

$$
\text{TF-IDF} = \dfrac{\dfrac{\text{Count of word ocurrences}}{\text{Total words in document}}}{log \left( \dfrac{\text{Number of docs words in}}{\text{Total number of docs}} \right)}
$$

- It gives a higher weight in words not so common in the document.

## 4.2. Filtering the data

```python 
from sklearn.feature_extraction.text import TfidfVectorizer

tfidfvec = TfidfVectorizer(min_df=2, max_df=0.7)

# vectorizing the data
vectorized_data = tfidfvec.fit_transform(book_summary_df['Descriptions'])
print(tfidvec.get_features_names)

print(vectorized_data.to_array())
```

### Formatting the data

```python 
tfidf_df = pd.DataFrame(vectorized_data.toarray(),
                       columns=tfidfvec.get_feature_names())
tfidf_df.index = book_summary_df['Book']
```

## 4.3. Cosine similarity

Cosine distance:

$$
cos(\theta) = \dfrac{A \cdot B}{||A|| \cdot ||B||}
$$

- Distance between two documents in the high dimensional matrix space. 
- Values are from 0 to 1, being 1 a perfect match.

```python
from sklearn.metrics.pairwise import cosine_simiarity

# Find similarity between all items 
cosine_similarity_array = cosine_similarity(tfidf_summary_df)

# Find similarity between two items 
cosine_similarity(tfidf_df.loc['The Hobbit'].values.reshape(1, -1),
                  tfidf_df.loc['Macbeth'].values.reshape(1, -1))
```

## ✏️ Exercises

> ## 1. Instantiate the TF-IDF model

TF-IDF by default generates a column for every word in all of your documents (movie summaries in our case). This creates a huge and unintuitive dataset as it will contain both very common words that appear in every document, and words that appear so rarely they provide no value in finding similarities between items.

In this exercise, you will work with the `df_plots` DataFrame. It contains movies' names in the `Title` column and their plots in the `Plot` column.

Using this DataFrame, you will generate the default TF-IDF scores and see if non-valuable columns are present.

You will go on to rerun the TF-IDF calculations, this time limiting the number of columns using the `min_df` and `max_df` arguments and hopefully see the improvement.

- Create a `TfidfVectorizer` and call it `vectorizer`.
- Use `vectorizer` to transform the data in the `Plots` column of `df_plots` and assign the output to `vectorized_data`.
- Inspect the features that have been generated by the transformation.

In [31]:
# Data
df_plots = pd.read_csv('df_plots.csv')
df_plots.head()

,Title,Plot
0,Ace Ventura: When Nature Calls,"In the Himalayas, after a failed rescue missio..."
1,Dracula: Dead and Loving It,Solicitor Thomas Renfield travels all the way ...
2,Father of the Bride Part II,The film begins five years after the events of...
3,Four Rooms,"The film is set on New Year\'s Eve, and starts..."
4,Grumpier Old Men,The feud between Max (Walter Matthau) and John...

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Instantiate the vectorizer object to the vectorizer variable
vectorizer = TfidfVectorizer()

# Fit and transform the plot column
vectorized_data = vectorizer.fit_transform(df_plots['Plot'])

# Look at the features generated
print(vectorizer.get_feature_names())

['000', '10', '100', '1869', '1969', '1986', '1995', '2nd', '309', '40', '404', '409', '500', 'abandoned', 'abandons', 'abbey', 'abbot', 'aboard', 'about', 'above', 'abraham', 'abusing', 'accepting', 'access', 'accident', 'accidentally', 'accomplice', 'account', 'accounts', 'accuses', 'accusing', 'ace', 'achieved', 'acquainted', 'action', 'active', 'activity', 'actual', 'actually', 'ad', 'adding', 'addition', 'administrator', 'admiral', 'admiring', 'admits', 'adopt', 'adult', 'advances', 'advice', 'advised', 'advises', 'affectionately', 'africa', 'african', 'after', 'afterwards', 'again', 'against', 'agent', 'agents', 'ago', 'agonized', 'agrees', 'air', 'alan', 'alec', 'alibi', 'alive', 'all', 'allow', 'allows', 'alone', 'along', 'also', 'although', 'always', 'amanda', 'ambulance', 'american', 'among', 'an', 'and', 'andy', 'angela', 'angrily', 'angry', 'animal', 'animals', 'animated', 'ann', 'annie', 'announce', 'annual', 'another', 'answers', 'antenna', 'antonio', 'any', 'anyone', 'apologize', 'apologizes', 'apology', 'apparently', 'appears', 'appointed', 'approached', 'approves', 'archives', 'are', 'arena', 'argument', 'ariel', 'arkady', 'arkhangelsk', 'arm', 'armistice', 'arms', 'army', 'around', 'arrangement', 'arranges', 'arrested', 'arrivals', 'arrive', 'arrives', 'arriving', 'as', 'ashes', 'asked', 'asks', 'asleep', 'assigned', 'assigns', 'assistant', 'assists', 'assumes', 'astral', 'asylum', 'at', 'atmospheric', 'atop', 'attack', 'attacked', 'attacks', 'attempt', 'attempting', 'attempts', 'attend', 'attending', 'attic', 'attorney', 'audience', 'aunt', 'averting', 'awakens', 'away', 'baby', 'back', 'badly', 'bait', 'ball', 'banderas', 'bank', 'banks', 'barely', 'bargain', 'barry', 'basketball', 'bat', 'bathroom', 'bats', 'batteries', 'battlefield', 'battles', 'be', 'beach', 'beacon', 'beals', 'beauty', 'because', 'becky', 'become', 'becomes', 'becoming', 'bed', 'bedroom', 'been', 'before', 'befriends', 'begging', 'begin', 'beginning', 'begins', 'behavior', 'behind', 'being', 'beings', 'belief', 'believe', 'believed', 'believing', 'bellhop', 'bender', 'bentley', 'bernadine', 'bernie', 'bet', 'betray', 'betrayed', 'betrays', 'betty', 'between', 'bicycle', 'big', 'bigger', 'bill', 'billions', 'billy', 'binder', 'birth', 'birthday', 'blackhawks', 'blend', 'blinds', 'block', 'blocked', 'blood', 'blow', 'blowing', 'bo', 'board', 'boarding', 'body', 'bodyguards', 'bombs', 'bond', 'bonding', 'booby', 'boothe', 'boris', 'born', 'borrow', 'boss', 'boston', 'both', 'bottle', 'box', 'boy', 'boys', 'brad', 'brantford', 'bravely', 'break', 'breakdown', 'breaking', 'brian', 'bride', 'briefing', 'bring', 'bringing', 'brings', 'britain', 'british', 'brothers', 'brown', 'bryan', 'bucket', 'bulldog', 'bullet', 'bullies', 'bunker', 'bureau', 'burgess', 'buried', 'burn', 'burns', 'bury', 'business', 'but', 'butt', 'buy', 'buzz', 'by', 'cadby', 'cadenet', 'cage', 'calamities', 'calderón', 'call', 'called', 'calls', 'came', 'camp', 'can', 'canada', 'canadian', 'cancel', 'captive', 'captured', 'captures', 'capuchin', 'car', 'care', 'career', 'carfax', 'carl', 'carla', 'carlo', 'carnivorous', 'carried', 'carrying', 'cartoons', 'case', 'casino', 'cast', 'castle', 'casts', 'cat', 'catch', 'catches', 'catering', 'catfish', 'caught', 'cauldron', 'causes', 'cave', 'caves', 'celibacy', 'center', 'century', 'chagrin', 'chairman', 'challenge', 'challenges', 'champagne', 'chance', 'change', 'channel', 'chaos', 'chapel', 'charge', 'charged', 'charges', 'charles', 'charming', 'chase', 'chases', 'chasing', 'chasm', 'cheating', 'chemical', 'chest', 'chester', 'chicago', 'chief', 'child', 'children', 'chiming', 'choose', 'chopper', 'chops', 'christmas', 'chronic', 'chuck', 'church', 'cia', 'cigarette', 'civic', 'civil', 'claim', 'clans', 'clarify', 'claude', 'clear', 'cliffhanger', 'climbs', 'clock', 'closed', 'closet', 'club', 'coast', 'coffin', 'coherent', 'cold', 'collaborated', 'colonel', 'colony', 'combustible', 'come', 'comes', 'coming', 'commandeers', 'comment', 'committee', 'community', 'company', 'complete', 'completely', 'completes', 'complex', 'complicate', 'computer', 'concealing', 'conceals', 'concern', 'concludes', 'concluding', 'condition', 'confidence', 'confined', 'confirms', 'confrontations', 'confronts', 'connecting', 'consciousness', 'constant', 'construction', 'consul', 'consulate', 'consults', 'contact', 'contacts', 'containing', 'contented', 'continue', 'continued', 'continues', 'control', 'conversation', 'converting', 'convince', 'convinced', 'convinces', 'cook', 'cooled', 'corpse', 'correspondent', 'cossack', 'cossacks', 'count', 'country', 'couple', 'court', 'coven', 'covered', 'cowboy', 'cradle', 'crane', 'crash', 'create', 'creations', 'credentials', 'credits', 'creeping', 'crew', 'crime', 'crisis', 'cross', 'crushes', 'crypt', 'cryptic', 'crystal', 'cuba', 'cup', 'currently', 'curtain', 'cut', 'cuts', 'cyberterrorism', 'cynical', 'damaged', 'damages', 'damme', 'dance', 'dangerous', 'dangling', 'daniel', 'danny', 'darren', 'dart', 'darts', 'daryl', 'dates', 'dating', 'daughter', 'david', 'davis', 'day', 'days', 'de', 'dead', 'deal', 'death', 'deaths', 'decent', 'decide', 'decides', 'declare', 'declared', 'decline', 'decrypt', 'deduces', 'defeated', 'defence', 'defending', 'delayed', 'delivered', 'delivery', 'demolish', 'demolition', 'demoted', 'department', 'departure', 'depleted', 'deprivation', 'derelict', 'descendant', 'describing', 'desire', 'desk', 'despair', 'despite', 'despondency', 'destroy', 'destroyed', 'destroyer', 'destroying', 'destroys', 'destruct', 'destruction', 'details', 'devil', 'devises', 'devotion', 'diana', 'dice', 'did', 'didn', 'died', 'dies', 'different', 'differing', 'digging', 'dimitri', 'dines', 'dinner', 'dinosaur', 'director', 'directs', 'disable', 'disappearance', 'disappeared', 'disapproves', 'disarm', 'disavowing', 'discover', 'discovered', 'discovers', 'discussion', 'diseases', 'dish', 'disk', 'disorder', 'display', 'divert', 'divorce', 'do', 'dobermans', 'doc', 'doctor', 'does', 'dog', 'doll', 'dollars', 'door', 'dorian', 'dosage', 'doughnut', 'douglas', 'down', 'dowry', 'dr', 'dracula', 'draining', 'drains', 'drama', 'dramatically', 'dreams', 'dressed', 'drinking', 'drive', 'driver', 'driveway', 'driving', 'drop', 'dropped', 'drops', 'drove', 'drugged', 'drumbeats', 'drunk', 'due', 'dumping', 'dumps', 'duo', 'during', 'dusts', 'duty', 'dwight', 'dyes', 'each', 'earlier', 'easily', 'economy', 'edsion', 'eerie', 'eisenberg', 'either', 'elated', 'electromagnetic', 'electronic', 'elephant', 'eliminated', 'eliminating', 'elopes', 'embark', 'emergency', 'emerging', 'emily', 'emmett', 'emotional', 'employee', 'employer', 'empty', 'encounters', 'encourages', 'end', 'ends', 'enduring', 'enemas', 'energetic', 'engaged', 'engagement', 'england', 'enjoying', 'enough', 'ensued', 'ensues', 'ensuing', 'ensure', 'enter', 'enters', 'entire', 'entry', 'equalizer', 'equally', 'erasing', 'eric', 'escalations', 'escape', 'escapes', 'escaping', 'estate', 'eternity', 'eurocopter', 'europe', 'evaded', 'eve', 'even', 'events', 'eventually', 'ever', 'everyone', 'everything', 'evidence', 'ex', 'exact', 'exam', 'examinations', 'excellent', 'excuses', 'executed', 'executive', 'exhale', 'existence', 'expecting', 'experience', 'experiencing', 'expert', 'explains', 'explode', 'explodes', 'explore', 'explosion', 'explosives', 'express', 'extremely', 'eye', 'eyed', 'eyelids', 'face', 'facility', 'fact', 'factory', 'fail', 'failed', 'fails', 'faint', 'faked', 'fall', 'falling', 'falls', 'family', 'famous', 'fancy', 'fantasy', 'farrel', 'fast', 'father', 'favor', 'favorite', 'fear', 'fearfully', 'fearing', 'feature', 'features', 'feeds', 'feel', 'feelings', 'female', 'fertilizer', 'festival', 'feud', 'few', 'fiance', 'fictional', 'field', 'fight', 'figure', 'fills', 'film', 'final', 'finalize', 'finally', 'finals', 'financial', 'find', 'finding', 'finds', 'finish', 'finishes', 'finn', 'fire', 'fired', 'firefight', 'firefighter', 'firework', 'first', 'fishing', 'five', 'flaherty', 'flee', 'flees', 'flies', 'flirts', 'flooding', 'floor', 'florida', 'fly', 'follow', 'following', 'follows', 'foot', 'for', 'forces', 'foreign', 'forget', 'form', 'formally', 'formed', 'former', 'forward', 'foss', 'found', 'four', 'fractured', 'frame', 'francesca', 'franck', 'frantically', 'free', 'french', 'friend', 'friends', 'friendship', 'frisky', 'from', 'front', 'frye', 'full', 'fully', 'fulton', 'fun', 'funeral', 'furiously', 'further', 'future', 'gain', 'game', 'gamekeeper', 'gang', 'gareth', 'garlic', 'gas', 'gay', 'gears', 'george', 'get', 'gets', 'getting', 'gift', 'girl', 'girls', 'give', 'given', 'gives', 'giving', 'gliding', 'glo', 'gloria', 'go', 'goal', 'goalie', 'goddess', 'goes', 'going', 'goldeneye', 'gone', 'good', 'gorilla', 'gorillas', 'got', 'government', 'grabs', 'grand', 'grandchild', 'grandfather', 'grappa', 'grave', 'graveyard', 'great', 'green', 'greenwald', 'greenwall', 'greeted', 'grenade', 'grew', 'griffin', 'grigorovich', 'grishenko', 'grounds', 'group', 'grow', 'growing', 'grown', 'guano', 'guard', 'guards', 'guest', 'guests', 'guilbert', 'gun', 'gunpoint', 'habib', 'habibs', 'hacked', 'had', 'hair', 'hallmark', 'hamm', 'hampshire', 'hand', 'handle', 'handling', 'hannah', 'happened', 'hard', 'harewood', 'harker', 'harris', 'has', 'hatchet', 'have', 'having', 'hawaii', 'he', 'head', 'headquarters', 'heads', 'hear', 'hearing', 'hears', 'heavy', 'helicopter', 'help', 'helsing', 'henchmen', 'her', 'herds', 'hero', 'heroes', 'hers', 'herself', 'hesitation', 'hesling', 'high', 'highlands', 'highly', 'him', 'himalayas', 'himself', 'hired', 'hires', 'his', 'hit', 'hitched', 'hits', 'hitu', 'hold', 'holding', 'holds', 'hole', 'hollywood', 'home', 'honeymoon', 'hope', 'horror', 'hospital', 'hostage', 'hostages', 'hostility', 'hotel', 'hour', 'house', 'how', 'howard', 'however', 'huck', 'huge', 'humans', 'humiliating', 'humilited', 'hundreds', 'hunter', 'husband', 'hut', 'hyphenated', 'hypnotic', 'ice', 'iceburgh', 'identify', 'identity', 'if', 'ignites', 'impact', 'importance', 'important', 'impresses', 'in', 'inability', 'inadvertently', 'includes', 'including', 'increased', 'indeed', 'infant', 'infiltrate', 'informs', 'ingredient', 'initially', 'initiate', 'injun', 'innocent', 'inquiry', 'insensitivity', 'inside', 'insisting', 'inspired', 'instant', 'instead', 'instructs', 'insults', 'intelligence', 'intended', 'intending', 'intense', 'intent', 'interest', 'interrogates', 'intervenes', 'into', 'introduces', 'investigate', 'investigating', 'invited', 'invites', 'involvement', 'involves', 'ione', 'is', 'island', 'it', 'italian', 'its', 'itself', 'jack', 'jackson', 'jacob', 'james', 'janus', 'japan', 'jealousy', 'jean', 'jennifer', 'jessup', 'jim', 'job', 'joe', 'john', 'join', 'joining', 'joins', 'joke', 'jokes', 'jokingly', 'jonas', 'jonathan', 'joshua', 'joy', 'juancho', 'judy', 'jumanji', 'jungle', 'just', 'justify', 'kathy', 'keep', 'kevin', 'keys', 'kgb', 'kidnap', 'kidnapped', 'kids', 'kill', 'killed', 'killing', 'kills', 'kincade', 'king', 'kiss', 'kneel', 'knife', 'knocking', 'know', 'knowledge', 'labor', 'lake', 'lana', 'land', 'language', 'lanny', 'laptop', 'large', 'laser', 'last', 'late', 'later', 'laugh', 'launch', 'lawrence', 'leader', 'leads', 'league', 'learn', 'learning', 'learns', 'leave', 'leaves', 'leaving', 'led', 'left', 'leg', 'leigh', 'lemmon', 'let', 'lets', 'lies', 'life', 'lifeless', 'lift', 'light', 'lighter', 'lightyear', 'likely', 'lion', 'lipstick', 'liquor', 'list', 'listen', 'livid', 'living', 'll', 'local', 'locate', 'located', 'locks', 'lodged', 'london', 'lone', 'long', 'longer', 'look', 'looking', 'loren', 'loses', 'losing', 'lost', 'love', 'lover', 'luc', 'lucky', 'lucy', 'luggage', 'lunatic', 'luxury', 'macau', 'machine', 'mackenzies', 'mad', 'made', 'maine', 'make', 'makes', 'making', 'malinger', 'mallory', 'man', 'manage', 'manages', 'maniacally', 'manner', 'mansion', 'many', 'map', 'marc', 'margaret', 'margret', 'maria', 'marian', 'marines', 'marisa', 'mark', 'market', 'marks', 'marriage', 'marriages', 'married', 'marries', 'marshal', 'martha', 'marvin', 'mascot', 'mass', 'massacre', 'master', 'masturbates', 'mate', 'mating', 'matthau', 'matthew', 'matthews', 'matty', 'max', 'mccord', 'mcdougal', 'mckissack', 'mcshane', 'meaning', 'meanwhile', 'medicine', 'meet', 'meeting', 'meets', 'megan', 'melanie', 'member', 'memories', 'men', 'menopause', 'mercenary', 'meredith', 'message', 'mi6', 'middle', 'might', 'mike', 'mildly', 'military', 'millions', 'mina', 'mind', 'minister', 'mirror', 'misbehave', 'mischievous', 'misha', 'mishap', 'mishkin', 'misplaces', 'misses', 'missing', 'mission', 'mississippi', 'mistake', 'mistaken', 'mistakenly', 'mistakes', 'mistress', 'mobile', 'moldavian', 'molly', 'moments', 'mon', 'monastery', 'money', 'moneypenny', 'monitors', 'monkey', 'monkeys', 'monster', 'monte', 'months', 'more', 'morgan', 'morning', 'mosquitoes', 'most', 'mother', 'mouth', 'move', 'moved', 'moves', 'movie', 'moving', 'mr', 'much', 'muff', 'murder', 'murders', 'murrell', 'must', 'mutant', 'na', 'naccompanied', 'nace', 'nafter', 'nails', 'nalan', 'name', 'named', 'nas', 'nat', 'natalya', 'native', 'navy', 'nazi', 'nbernadine', 'nbond', 'nbuzz', 'nconfused', 'ndarren', 'ndistraught', 'ndracula', 'near', 'nearby', 'neck', 'need', 'needs', 'neighbor', 'neighbors', 'nest', 'never', 'new', 'newly', 'newman', 'news', 'newspaper', 'next', 'nfoss', 'nfranck', 'ngloria', 'nibia', 'night', 'nights', 'nin', 'nina', 'nirritated', 'nit', 'njust', 'nmeanwhile', 'nmina', 'nnatalya', 'nnine', 'no', 'non', 'none', 'nora', 'norman', 'not', 'notice', 'notices', 'noticing', 'now', 'nrealizing', 'nrenfield', 'nrobin', 'nsavannah', 'nsilva', 'nted', 'ntermites', 'nthe', 'nthereafter', 'nthree', 'nto', 'ntwenty', 'nubile', 'number', 'numerous', 'nupon', 'nursery', 'nvan', 'nwaiting', 'nwhile', 'nwith', 'nwoody', 'oath', 'obscure', 'obsessed', 'obstetrician', 'obvious', 'obviously', 'occupied', 'occurring', 'odd', 'of', 'off', 'offer', 'offered', 'offering', 'offers', 'office', 'officer', 'offices', 'ointment', 'old', 'on', 'onatopp', 'once', 'one', 'only', 'opening', 'opens', 'opera', 'operation', 'operative', 'opposite', 'or', 'orchestrated', 'order', 'ordered', 'orders', 'organizes', 'other', 'others', 'otherwise', 'ouda', 'ourumov', 'out', 'outcome', 'outing', 'outline', 'over', 'overcome', 'overly', 'overpowers', 'overprotective', 'overrun', 'overtime', 'own', 'owned', 'owner', 'page', 'paid', 'pain', 'painting', 'pale', 'panic', 'panther', 'paramedics', 'paranoid', 'parents', 'park', 'parliament', 'parody', 'parrish', 'parrishes', 'part', 'partially', 'participate', 'party', 'passed', 'passes', 'passion', 'patch', 'patient', 'patients', 'patrice', 'patricia', 'paul', 'pay', 'peace', 'peep', 'pelican', 'pelt', 'pen', 'penguins', 'penthouse', 'people', 'perform', 'performs', 'period', 'personal', 'perspectives', 'persuade', 'persuades', 'peter', 'petersburg', 'petya', 'phillips', 'phone', 'phrases', 'physical', 'physician', 'piece', 'piggy', 'pills', 'pilot', 'pink', 'pinky', 'pistol', 'pittsburgh', 'pizza', 'place', 'placed', 'places', 'placing', 'plan', 'plane', 'planet', 'planned', 'planner', 'plans', 'plant', 'plants', 'platform', 'play', 'playing', 'pleads', 'plot', 'plummets', 'poachers', 'pocket', 'point', 'police', 'pollak', 'poorly', 'position', 'possession', 'posttraumatic', 'potato', 'potion', 'potter', 'powered', 'powers', 'ppk', 'practical', 'praised', 'pregnancies', 'pregnancy', 'pregnant', 'prepare', 'prepares', 'preparing', 'prescribing', 'presence', 'present', 'preserving', 'president', 'presses', 'pressure', 'presumed', 'pretend', 'prevent', 'preventing', 'previous', 'priest', 'prince', 'princess', 'prisoner', 'problem', 'problems', 'proceed', 'process', 'producer', 'program', 'programmed', 'programmer', 'programs', 'projection', 'prolonged', 'prolonging', 'promises', 'properly', 'property', 'prospect', 'prostate', 'prostitute', 'prototype', 'proval', 'prove', 'provide', 'provincial', 'prudish', 'psychiatrist', 'psychological', 'public', 'pull', 'pulled', 'punches', 'puncture', 'puppy', 'purchase', 'purchased', 'pursue', 'pursued', 'pursuers', 'pursues', 'pursuit', 'put', 'puts', 'putting', 'puzzled', 'quartermaster', 'quell', 'quest', 'quickly', 'quietly', 'quit', 'quits', 'raccoon', 'rachael', 'radio', 'raft', 'ragetti', 'raise', 'range', 'ranger', 'raoul', 'raped', 'rappels', 'rather', 'raving', 'raymond', 'rc', 're', 'reads', 'ready', 'real', 'realize', 'realizes', 'realizing', 'reasons', 'rebel', 'recaptures', 'receive', 'received', 'receives', 'recognizes', 'reconcile', 'reconciles', 'reconnaissance', 'records', 'recover', 'recovered', 'redecoration', 'reflection', 'reformed', 'refuses', 'regaining', 'regains', 'rehired', 'reignite', 'relationship', 'release', 'releases', 'relieved', 'reluctant', 'reluctantly', 'remaining', 'reminds', 'remove', 'removed', 'removes', 'rendition', 'renfield', 'renfro', 'renovation', 'repeatedly', 'repel', 'replaced', 'replacement', 'report', 'requests', 'rescue', 'rescued', 'rescues', 'rescuing', 'resents', 'respectively', 'responds', 'responsibility', 'responsible', 'rest', 'restaurant', 'restored', 'restoring', 'result', 'results', 'retire', 'retired', 'retiring', 'retreats', 'retrieve', 'retrieves', 'return', 'returned', 'returns', 'reunite', 'reveal', 'revealed', 'revealing', 'reveals', 'revenge', 'reverse', 'reversed', 'rex', 'ride', 'rifle', 'right', 'rights', 'rises', 'ritual', 'rival', 'river', 'road', 'rob', 'robin', 'robinson', 'robitaille', 'rock', 'rocket', 'role', 'roll', 'rolling', 'rolls', 'roof', 'room', 'ross', 'rot', 'roth', 'routine', 'row', 'rules', 'run', 'running', 'runs', 'rush', 'russell', 'russian', 'sabotage', 'sabotages', 'sacred', 'sacrificing', 'safari', 'safely', 'safety', 'saint', 'salon', 'salvaged', 'sam', 'same', 'sand', 'sandwich', 'sarah', 'sarge', 'satellite', 'satellites', 'savannah', 'save', 'saved', 'saves', 'saving', 'sawyer', 'saying', 'scale', 'scare', 'scarf', 'scarred', 'scat', 'scenario', 'scene', 'school', 'schweig', 'score', 'scored', 'scores', 'scottish', 'scouting', 'scrapes', 'screaming', 'scribbled', 'scud', 'search', 'searched', 'searching', 'season', 'second', 'seconds', 'secret', 'secretary', 'security', 'seduce', 'seducing', 'see', 'seeing', 'seems', 'seen', 'sees', 'segment', 'seldes', 'self', 'sell', 'sells', 'semen', 'send', 'sends', 'sentimental', 'separate', 'series', 'serve', 'servers', 'service', 'set', 'sets', 'setting', 'settlement', 'several', 'severely', 'severnaya', 'seward', 'sex', 'shanghai', 'share', 'shared', 'sharp', 'she', 'shepherd', 'shepherdess', 'shepherds', 'sheriff', 'shikaka', 'ship', 'shoe', 'shoot', 'shoots', 'shop', 'shore', 'shortly', 'shot', 'should', 'show', 'shower', 'shows', 'siberia', 'siberian', 'sid', 'side', 'sigfried', 'signed', 'signor', 'silva', 'simonova', 'simple', 'simultaneous', 'simultaneously', 'since', 'single', 'sinks', 'sister', 'site', 'situation', 'six', 'skemp', 'skeptical', 'ski', 'skye', 'skyfall', 'skyscraper', 'slam', 'slave', 'sleep', 'sleeping', 'slept', 'slinky', 'slowed', 'small', 'smile', 'snapping', 'snares', 'so', 'soar', 'sold', 'sole', 'solicitor', 'some', 'somehow', 'someone', 'something', 'son', 'song', 'soon', 'sophia', 'sound', 'soviet', 'space', 'spain', 'speaking', 'specifically', 'spell', 'spends', 'spike', 'spirits', 'spring', 'spy', 'squabble', 'st', 'stabs', 'staff', 'stage', 'stagecoach', 'stages', 'stampede', 'stand', 'standing', 'standoff', 'stanley', 'startled', 'starts', 'state', 'station', 'stay', 'steal', 'steals', 'step', 'stern', 'still', 'stokes', 'stolen', 'stop', 'stops', 'store', 'story', 'stowing', 'stranding', 'strange', 'strangely', 'street', 'stress', 'stressed', 'strike', 'string', 'strongly', 'stuck', 'stuffed', 'stumble', 'stunned', 'style', 'subsequently', 'succeed', 'succeeds', 'successful', 'successfully', 'succumbs', 'sucked', 'sucks', 'sudden', 'suddenly', 'suffered', 'suffering', 'suggested

- Repeat the creation of the TfidfVectorizer, but this time, set the minimum document frequency to 2 and the maximum document frequency to 0.7.
Inspect the features that have been generated by the transformation.

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Instantiate the vectorizer object to the vectorizer variable
vectorizer = TfidfVectorizer(min_df=2, max_df=0.7)

# Fit and transform the plot column
vectorized_data = vectorizer.fit_transform(df_plots['Plot'])

# Look at the features generated
print(vectorizer.get_feature_names())

['000', '100', 'abandoned', 'above', 'accidentally', 'accomplice', 'admits', 'adult', 'african', 'again', 'against', 'agent', 'agents', 'alive', 'all', 'allows', 'alone', 'also', 'although', 'animals', 'another', 'appears', 'approached', 'around', 'arrested', 'arrives', 'arriving', 'asks', 'assistant', 'assists', 'attack', 'attacked', 'attacks', 'attempting', 'attempts', 'attending', 'away', 'baby', 'back', 'ball', 'bank', 'bats', 'because', 'become', 'becomes', 'bed', 'been', 'before', 'begin', 'begins', 'being', 'between', 'blow', 'board', 'bond', 'boss', 'both', 'box', 'bride', 'bring', 'brings', 'britain', 'british', 'burns', 'business', 'call', 'called', 'calls', 'can', 'canadian', 'captured', 'captures', 'car', 'care', 'case', 'caves', 'chaos', 'chase', 'chest', 'child', 'children', 'christmas', 'cia', 'clock', 'closed', 'come', 'comes', 'containing', 'continue', 'control', 'convinces', 'country', 'couple', 'credits', 'crew', 'crime', 'dart', 'darts', 'daughter', 'day', 'dead', 'death', 'decides', 'declare', 'deduces', 'delivered', 'desk', 'despite', 'destroy', 'destroyed', 'devil', 'did', 'died', 'different', 'discover', 'discovered', 'discovers', 'discussion', 'do', 'doctor', 'does', 'door', 'down', 'dr', 'drive', 'drops', 'drove', 'due', 'during', 'each', 'earlier', 'electronic', 'embark', 'employee', 'empty', 'end', 'ends', 'england', 'ensues', 'entire', 'escape', 'escapes', 'eve', 'events', 'eventually', 'ever', 'executed', 'executive', 'expecting', 'explode', 'explodes', 'explosives', 'eyed', 'failed', 'fails', 'falling', 'falls', 'family', 'father', 'female', 'few', 'field', 'fight', 'film', 'finally', 'find', 'finds', 'finish', 'finishes', 'fire', 'first', 'five', 'flees', 'floor', 'follow', 'following', 'follows', 'foot', 'forces', 'former', 'four', 'free', 'french', 'friend', 'friends', 'friendship', 'front', 'full', 'funeral', 'further', 'game', 'gang', 'get', 'gets', 'getting', 'girl', 'gives', 'go', 'goes', 'going', 'grand', 'grave', 'great', 'group', 'growing', 'guard', 'guests', 'had', 'hand', 'have', 'having', 'head', 'heads', 'helicopter', 'help', 'herself', 'high', 'himself', 'holding', 'holds', 'home', 'honeymoon', 'hospital', 'hostage', 'hotel', 'house', 'how', 'however', 'hunter', 'husband', 'ice', 'identity', 'if', 'inadvertently', 'including', 'indeed', 'initially', 'instead', 'instructs', 'introduces', 'involvement', 'its', 'itself', 'jack', 'james', 'job', 'join', 'joins', 'jonathan', 'jungle', 'just', 'keep', 'kill', 'killed', 'killing', 'kills', 'knife', 'lake', 'large', 'last', 'late', 'learns', 'leave', 'leaves', 'leaving', 'led', 'left', 'let', 'lies', 'life', 'light', 'local', 'locks', 'london', 'long', 'longer', 'looking', 'loses', 'love', 'made', 'make', 'makes', 'making', 'man', 'manage', 'manages', 'mansion', 'married', 'meanwhile', 'meet', 'meeting', 'meets', 'member', 'men', 'message', 'mi6', 'might', 'missing', 'mission', 'mistake', 'moments', 'money', 'more', 'morning', 'most', 'mother', 'move', 'movie', 'moving', 'mr', 'much', 'murder', 'must', 'na', 'nafter', 'named', 'nas', 'nat', 'nbond', 'need', 'neighbor', 'new', 'news', 'next', 'night', 'nin', 'nmeanwhile', 'no', 'non', 'none', 'not', 'now', 'nthe', 'numerous', 'oath', 'off', 'old', 'once', 'only', 'opening', 'opens', 'operative', 'or', 'order', 'orders', 'other', 'others', 'out', 'over', 'overpowers', 'own', 'owned', 'owner', 'parents', 'part', 'party', 'people', 'phone', 'place', 'plan', 'plans', 'play', 'point', 'police', 'pregnant', 'pretend', 'previous', 'pursue', 'put', 'raise', 'rather', 'reads', 'ready', 'real', 'realizes', 'realizing', 'receives', 'reconcile', 'refuses', 'release', 'releases', 'relieved', 'reluctant', 'reluctantly', 'remove', 'repel', 'rescue', 'rescuing', 'responsible', 'restaurant', 'result', 'results', 'retrieve', 'return', 'returns', 'revealed', 'reveals', 'revenge', 'ride', 'right', 'river', 'role', 'roll', 'room', 'runs', 'sam', 'same', 'sarah', 'save', 'saying', 'screaming', 'search', 'season', 'second', 'secret', 'security', 'seduce', 'see', 'seeing', 'seen', 'sees', 'self', 'sell', 'send', 'sends', 'set', 'sets', 'sex', 'share', 'sharp', 'she', 'shoot', 'shoots', 'shore', 'shortly', 'shot', 'should', 'six', 'so', 'some', 'son', 'soon', 'spell', 'spring', 'starts', 'stay', 'steal', 'steals', 'still', 'stolen', 'stop', 'stops', 'story', 'strange', 'stress', 'strike', 'stuck', 'successful', 'suggests', 'suite', 'suspicious', 'take', 'taken', 'takes', 'taking', 'target', 'team', 'television', 'tells', 'tend', 'than', 'their', 'then', 'there', 'thereafter', 'things', 'this', 'thomas', 'three', 'through', 'throughout', 'throw', 'time', 'times', 'together', 'toward', 'train', 'traps', 'travels', 'tree', 'tribal', 'tries', 'trip', 'truck', 'true', 'try', 'turns', 'unable', 'until', 'unusual', 'upon', 'uses', 'van', 'various', 'via', 'walking', 'wants', 'war', 'warns', 'was', 'watch', 'watching', 'water', 'way', 'weapons', 'wedding', 'what', 'where', 'white', 'whom', 'wife', 'window', 'without', 'women', 'word', 'words', 'work', 'working', 'world', 'worried', 'wounded', 'wrong', 'year', 'years', 'you', 'young']

C:\Users\edneide.ramalho\Anaconda3\envs\reco_base\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)