# Collaborative Filtering

# Imports

In [1]:
import pandas as pd
import numpy as np

# Data

In [2]:
user_ratings = pd.read_csv('user_ratings.csv', index_col=False)
user_ratings.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

# Exercises

> # 1. Pivoting your data

Transform the user_ratings DataFrame to a DataFrame containing ratings with one row per user and one column per movie and call it user_ratings_table.

In [3]:
user_ratings = user_ratings[['userId', 'title', 'rating']]
user_ratings.sample(15)

       userId                                              title  rating
61518     484                               Waterboy, The (1998)     4.0
37507     330                        Matrix Reloaded, The (2003)     3.5
14592     514                                     RoboCop (1987)     4.0
79974     249                               Planet Terror (2007)     3.5
58387     287                                      Ransom (1996)     1.5
2997      610                          Dazed and Confused (1993)     5.0
99644     514                         Eye See You (D-Tox) (2002)     2.5
78232     339                          Dallas Buyers Club (2013)     5.0
15144     551                             Green Mile, The (1999)     4.0
38004     213  Lord of the Rings: The Return of the King, The...     4.5
9250       68                              Batman Returns (1992)     3.5
64496     563                         Sound of Music, The (1965)     5.0
79808     307                                    Cry-Baby (1990)     3.5
16343      81                   Shawshank Redemption, The (1994)     3.0
1822        6                                Pulp Fiction (1994)     2.0

In [4]:
#user_ratings_pivot = user_ratings.pivot(index='userId',
#                                       columns='title',
#                                       values='rating')
# Deu erro: correÃ§Ã£o no link abaixo:
# https://www.statology.org/valueerror-index-contains-duplicate-entries-cannot-reshape/#:~:text=How%20to%20Fix%3A%20ValueError%3A%20Index%20contains%20duplicate%20entries%2C%20cannot%20reshape,-One%20error%20you&text=This%20error%20usually%20occurs%20when,share%20the%20same%20index%20values.

In [6]:
user_ratings_pivot = user_ratings.pivot_table(index='userId', columns='title', values='rating', aggfunc='mean')

In [11]:
user_ratings_pivot.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]Â² (2009),[REC]Â³ 3 GÃ©nesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),Â¡Three Amigos! (1986),Ã€ nous la libertÃ© (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

> # 2. Finding similar users

Collaborative filtering is built around the premise that users who have ranked items similarly in the past have similar tastes, and therefore are likely to rate new items in a similar fashion.

A subset of the movies dataset has been loaded as user_ratings_subset. The DataFrame contains user ratings with a row for each user and a column for each movie.

Examine user_ratings_subset. Which user is most similar to User A?

![](subset_user_ratings.png)

The user_B is most similar to the user_A because they gave similar ratings for the same movies, Pulp Fiction and The Matrix.

> # 3. Challenges with missing values

You may have noticed that the pivoted DataFrames you have been working with often have missing data. This is to be expected since users rarely see all movies, and most movies are not seen by everyone, resulting in gaps in the user-rating matrix.

In this exercise, you will explore another subset of the user ratings table user_ratings_subset that has missing values and observe how different approaches in dealing with missing data may impact its usability.


**Question**

Take a look at the user_ratings_subset that has been loaded for you. The None value represents a situation where a user has not made a rating.

Based on the table, which user is most similar to User_A?

Possible Answers

Both User_B and User_C

User_B

User_C

# ðŸ’» Using K-nearest neighbors

- We can find similar users using KNN.

## ðŸ‘©ðŸ‘¨ User-user similarity

In [9]:
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
# similarities = cosine_similarity(user_ratings_pivot)
# cosine_similarity_df = pd.DataFrame(user_ratings_pivot,
#                                    index=user_ratings_pivot.index,
#                                    columns=user_ratings_pivot.index)
# cosine_similarity_df

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [15]:
# Trying to correct the error, but it haven't worked!
# user_ratings_pivot.replace([np.inf, -np.inf], np.nan, inplace=True)

In [ ]:
x